---
http_interactions:
- request:
    method: get
    uri: https://openapi.api.govee.com/router/api/v1/user/devices
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Govee-Api-Key:
      - "<GOVEE_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":200,"message":"success","data":[{"sku":"H607C","device":"AA:BB:CC:DD:EE:FF","deviceName":"Lampe","type":"devices.types.light","capabilities":[{"type":"devices.capabilities.on_off","instance":"powerSwitch","parameters":{"dataType":"ENUM","options":[{"name":"on","value":1},{"name":"off","value":0}]}},{"type":"devices.capabilities.toggle","instance":"gradientToggle","parameters":{"dataType":"ENUM","options":[{"name":"on","value":1},{"name":"off","value":0}]}},{"type":"devices.capabilities.range","instance":"brightness","parameters":{"unit":"unit.percent","dataType":"INTEGER","range":{"min":1,"max":100,"precision":1}}},{"type":"devices.capabilities.segment_color_setting","instance":"segmentedBrightness","parameters":{"dataType":"STRUCT","fields":[{"fieldName":"segment","size":{"min":1,"max":16},"dataType":"Array","elementRange":{"min":0,"max":14},"elementType":"INTEGER","required":true},{"fieldName":"brightness","dataType":"INTEGER","range":{"min":0,"max":100,"precision":1},"required":true}]}},{"type":"devices.capabilities.segment_color_setting","instance":"segmentedColorRgb","parameters":{"dataType":"STRUCT","fields":[{"fieldName":"segment","size":{"min":1,"max":16},"dataType":"Array","elementRange":{"min":0,"max":14},"elementType":"INTEGER","required":true},{"fieldName":"rgb","dataType":"INTEGER","range":{"min":0,"max":16777215,"precision":1},"required":true}]}},{"type"[...]
