<%# app/views/rooms/index.html.erb %>
<% content_for :title, "Räume" %>
<h1>Räume</h1>
<%= link_to "Neuer Raum", new_room_path %>
<ul>
  <% @rooms.each do |room| %>
    <li>
      <%= room.name %>
      <%= link_to "Bearbeiten", edit_room_path(room) %>
      <%= button_to "Löschen", room_path(room), method: :delete,
                    form: { data: { turbo_confirm: "Raum wirklich löschen?" } } %>
    </li>
  <% end %>
</ul>
